form {
  gap: 10px;
}

.name-inputs, .email-nick_name-inputs, .password-inputs {
  display: flex;
  gap: inherit;
}

.error-display {
  color: red;
  font-size: 12px;
  height: 15px;
  display: block;
}

.error-display-hidden {
  display: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
}
