.review-render {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 10%;
}

.review > p {
  word-wrap: break-word;
  max-width: 500px;
}
