.header {
  height: 40vh;
  margin-top: -50px;
  font-size: xx-large;
  text-align: center;
  transition: opacity 1s ease;
  opacity: 0;
}

.header.active {
  opacity: 100;
}

.features,
.header,
.intro,
.cta {
  padding-top: 30vh;
}

/* .features {
  margin-bottom: 20vh;
} */

.intro,
.cta,
.feature-1,
.feature-2,
.feature-3 {
  font-size: xx-large;
  text-align: center;
  transition: opacity .5s ease;
  opacity: 0;
}

.feature-1,
.feature-2,
.feature-3 {
  padding: 10vh 0;
}

.features {
  font-size: xx-large;
  text-align: center;
}

.intro {
  height: 40vh;
}

.features {
  height: fit-content;
}

.cta {
  height: 40vh;
  padding-bottom: 128px;
}

.intro.active,
.feature-1.active,
.feature-2.active,
.feature-3.active,
.cta.active {
  opacity: 100;
}

.btn {
  margin-top: 20px;
}
