form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.auth-form {
  padding: 20px 10px;
}

.auth-heading {
  color: #6D411C;
  text-align: center;
  margin: 0px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
